# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_from_botfather
API_URL=https://nmdllpezcocquamhgpmb.supabase.co/functions/v1/lookup?number=

# Channels required to join before using bot (comma separated)
# Example with 2 channels:
FORCE_CHANNELS=@your_channel1, @your_channel2
# Example with 3 or more channels:
# FORCE_CHANNELS=@channel1, @channel2, @channel3
